
@{
    ViewData["Title"] = "View";
}

<h1>Mensagem</h1>
<h2>Foi um prazer nesses seis meses ter trabalhado com vocês.</h2>
<h2>Desejo muito sucesso na jornada de cada um de vocês</h2>
<h2>Um abraço e até semana que vem!</h2>

